stages:
    - cache
    - lint
    - build
    - deploy

cache:npm:
    image: node:20-alpine
    stage: cache
    cache:
        key:
            files:
                - package-lock.json
        paths:
            - .npm
    script:
        - npm ci
    artifacts:
        paths:
            - node_modules
        expire_in: 1 hour

lint:eslint:
    image: node:20-alpine
    stage: lint
    script:
        - npm run lint
    artifacts:
        when: always
        reports:
            codequality: gl-codequality.json
        expire_in: 1 hour

build:node:
    stage: build
    image: node:20-alpine
    script:
        - npm run build
    artifacts:
        paths:
            - dist/
        expire_in: 1 hour
    dependencies:
        - cache:npm

deploy:pages:
    stage: deploy
    image: alpine:3
    rules:
        - if: $CI_COMMIT_TAG
          when: on_success
        - if: $CI_COMMIT_BRANCH
          when: manual
    pages:
        publish: dist
    script:
        - echo 'Deploy to GitLab Pages'
    artifacts:
        expire_in: 1 hour
    dependencies:
        - cache:npm
        - build:node
    allow_failure: false