html {
	height: 100%;
	overflow: hidden;
	font-family: "Courier New", monospace;
	background-color: rgb(23, 23, 23);
}

body {
	color: whitesmoke;
	height: 100%;
	margin: 0;
}

a {
	color: cyan;
}

.color-yellow {
	color: yellow;
}

.color-red {
	color: red;
}

.color-gray {
	color: gray;
}