html {
	/* Structure HTML de la page */
	height: 100%;
	overflow: hidden;
	font-family: "Courier New", monospace;
	background-color: rgb(23, 23, 23);
}

body {
	/* Corps de la page */
	color: whitesmoke;
	height: 100%;
	margin: 0;
}

a {
	/* Lien hypertexte */
	color: cyan;
}

/* Couleurs personnalisées */
.color-yellow {
	color: yellow;
}

.color-red {
	color: red;
}

.color-gray {
	color: gray;
}