html {
	/* Structure HTML de la page */
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
	font-family: "Courier New", monospace;
	background-color: rgb(25, 25, 25);
}

body {
	/* Corps de la page */
	color: whitesmoke;
	height: 100%;
	margin: 0;
}

a {
	/* Lien hypertexte */
	color: rgb(0, 255, 255);
}

/* Couleurs personnalisées */
.color-green {
	color: rgb(0, 255, 0);
}

.color-yellow {
	color: rgb(255, 255, 0);
}

.color-gray {
	color: rgb(136, 136, 136);
}